<!DOCTYPE html>

<html lang="lv-LV">
  <head>
    <title>HTML tags lapa</title>
    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="../css/custom.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link rel="icon" href="../images\Start(IT)SmallLogo.png" />
  </head>

  <body>
   HTML lapas saturs
  </body>

  <footer>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
  <script type="text/javascript" src="../javaScript/custom.js"></script>
</html>
