<!DOCTYPE html>

<html lang="lv-LV">
  <head>
    <title>HTML tags lapa</title>
    <link
      rel="stylesheet"
      href="../css/bootstrap.min.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      rel="stylesheet"
      href="../css/custom.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link rel="icon" href="../images\Start(IT)SmallLogo.png" />
  </head>

  <body>
   <!-- Fixed navbar -->
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"
          ><img src="..\images\Start(IT)Logo.png" alt="Start(IT)"
        /></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="../index.html">Sākums<span class="sr-only">(current)</span></a>
          </li>
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
              >Pirmā diena <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
                    <li><a href="..\views\Git.html">GIT</a></li>
                    <li><a href="..\views\VSCode.html">VSCode</a></li>
                    <li><a href="..\views\AgileScrum.html">Agile/Scrum</a></li>
              <li class="active"><a href="HtmlTags.html">HTML tags</a></li>
              <li><a href="..\views\CssSelektori.html">CSS Selektori</a></li>
              <li>
                    <a href="..\views\Bootstrap.html">Bootstrap</a>
                  </li>
              </ul>
            </li>
            <li><a href="..\views\PlainJavaScript.html">Plain JavaScript</a></li>
            <li><a href="..\views\JavaScriptDom.html">JavaScript + DOM</a></li>
            <li><a href="..\views\MacibuMetodologija.html">Mācību Metodoloģija</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div id="wrap">
        <div id="main">
          
            <h1 class="text-center">
              HTML elementi
            </h1>
           
            <p class="text-center">
                Mācamies par HTML.<br> Vislabāk to izdrīt vietnē <a target="_blank" href="https://www.w3schools.com/html/default.asp">W3 Schools</a>
            <br>
            <!--
                izveidosim 2 kolonas
            -->
            <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4">
            Šodien apguvām:
            <ul>
                <li>html pamati
                <li>git
                <li>trello
                <li>u.tml.
            </ul>
        </div>
        <div class="col-xs-4">
            Tad strādājām ar sarakstiem:
            <ol>
                    <li>ul nenumurētiem sarakstiem
                    <li>li tegiem
                    <li>ol numurētiem sarakstiem
                    <li>u.tml.
                </ol>
            </div>
                <div class="col-xs-2"></div>
            </div>
<!--
    beidzas 2 kolonu veidošana  
-->
                <br>
                <div class="text-center">Pirmās dienas izvērtējums
                <form>
                        Vārds:<br>
                        <input type="text" name="firstname"><br>
                        Uzvārds:<br>
                        <input type="text" name="lastname"><br>
                       Piedalījies visu dienu?<br> 
                      
                            <input type="radio" name="piedalijies" value="yes" checked> Jā
                            <input type="radio" name="piedalijies" value="no"> Nē<br>
                            
                         
                         <br>

                              Kā vērtē šīs dienas procesu?
                              <select>
                                    <option value="p1">Patika</option>
                                    <option value="p2">Neitrāli</option>
                                    <option value="p3">Nepatika</option>                   
                                  </select>

                        <br>
                        <input type="submit" value="Iesniegt">
                </form>
                </div>
            
            </p>

            <h1 class="text-center">
                Plāns 1.apmācību dienai!
            </h1>
            <p class="text-center">
                Paskatīsimies kā var salikt tabulā tekstu. 
            </p>
            <p class="text-center">
                    Lūk galvenais ko šodien apguvām: 
                </p>
                <div class="conteiner row">
                    <div class="col-xs-2 col-sm-4 col-md-5"></div>
                    <div class="col-xs-4">
                <div>
                    <ul class="d-flex justify-content-center">
                    <li class="list-group-item list-group-item-action list-group-item-success">Projektu izstrādes metodoloģija  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">GIT  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">VSCode  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Plānošanas rīks - Trello  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Pusdienas  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">HTML pamati  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">HTML uzdevumi  </li>
                    <li class="list-group-item list-group-item-action list-group-item-danger">CSS  </li>
                    <li class="list-group-item list-group-item-action list-group-item-success">Refleksija  </li>
                    </ul>
                </div>
                <div class="col-xs-2 col-sm-4"></div>
                </div>
            </div>

            <table class="table">
                 
                <th >
                    <td>Plānotais laiks </td>  <td>Reālais laiks </td>    <td>Laiks trūka vai palika? </td>
                </th>
                

                <tr>
                        <td>Projektu izstrādes metodoloģijas </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                    </tr>

                    <tr>
                            <td>GIT</td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                        </tr>

                        <tr>
                                <td>VS Code </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                            </tr>
                            <tr>
                                    <td>Plānošanas rīki </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                                </tr>
                                <tr>
                                        <td>Pusdiensa </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                                    </tr>
                                    <tr>
                                            <td>HTML teorija </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                                        </tr>
                                        <tr>
                                                <td>HTML uzdevumi </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                                            </tr>

                                            <tr>
                                                    <td>Refleksija </td>  <td>27.08.2019. 8.30. - 10.00 </td>  <td>27.08.2019. 8.30. - 9.30 </td>    <td>Pietika </td>
                                                </tr>
            </table>


            <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eros
                    elit, bibendum id magna vel, placerat hendrerit felis. Proin vehicula,
                    risus eget pellentesque iaculis, purus felis posuere mauris, malesuada
                    bibendum sem lorem vitae quam. Donec elementum, justo vitae vehicula
                    fermentum, quam enim facilisis tellus, sit amet dictum odio turpis eu
                    nulla. Nunc eleifend massa ut massa tristique tristique. Sed porttitor
                    augue ut dui hendrerit, sed iaculis neque lobortis. Vestibulum ante
                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                    Curae; Fusce malesuada vulputate erat sit amet tristique. Quisque
                    varius vulputate lorem, sed aliquet ligula mollis in. In vel nibh non
                    lacus aliquam tincidunt eu sed tellus. Morbi nec sem sagittis,
                    sagittis turpis at, tempor metus. Pellentesque ultricies nunc sed
                    volutpat condimentum. Maecenas lorem turpis, congue in bibendum nec,
                    rutrum vitae tellus. Etiam elementum in nisi a dictum. Sed vel odio
                    sodales risus bibendum dignissim.
                  </p>
          
                  <p>
                    Fusce ac posuere massa, vitae posuere est. Vivamus sit amet ante vel
                    nunc lobortis pretium. Phasellus maximus egestas maximus. Praesent
                    viverra lectus id sem gravida laoreet. Cras sit amet turpis non sapien
                    blandit condimentum. Sed a lacus et odio tempor ultrices id nec diam.
                    Nulla mattis nulla eget justo rutrum lobortis.
                  </p>
          
                  <p>
                    Aliquam laoreet erat molestie massa tincidunt, venenatis blandit nisl
                    finibus. Aenean ut est leo. Sed malesuada gravida pretium. Morbi quis
                    blandit tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Mauris ac ultrices eros. Maecenas viverra magna vitae lobortis
                    bibendum. Ut mattis libero sollicitudin, hendrerit ex at, rutrum nisl.
                    Morbi laoreet auctor nulla sed venenatis. Nam ac purus nec elit
                    lacinia hendrerit. Nulla vehicula elit id nisi imperdiet efficitur.
                  </p>
          
                  <p>
                    Donec eleifend, leo in sodales dictum, dui lacus lacinia enim, sed
                    sagittis velit metus ut felis. Nullam at odio ac massa euismod
                    vestibulum at eu quam. Cras ut ligula vel ipsum tristique elementum.
                    Vestibulum turpis nibh, feugiat sit amet justo et, vehicula
                    condimentum enim. Aliquam ut viverra ex. Quisque efficitur porta nunc,
                    eu congue nisl tincidunt eu. Nunc vel nunc lobortis, vulputate metus
                    vitae, laoreet odio.
                  </p>
          
                  <p>
                    Donec efficitur, nunc quis molestie lacinia, ligula dolor cursus elit,
                    ac pellentesque lacus magna in lacus. Fusce rutrum interdum mi ut
                    volutpat. Quisque mollis eros interdum, tempor dui vel, porttitor
                    diam. Nulla efficitur, velit a egestas aliquam, ipsum mauris porta
                    neque, eu tincidunt risus dolor nec diam. Donec vel metus sapien.
                    Vestibulum luctus quam ac diam consectetur imperdiet sit amet eu elit.
                    Morbi in ligula cursus, blandit magna sit amet, egestas tortor. Donec
                    convallis magna vitae turpis interdum, non iaculis erat elementum.
                    Quisque non pretium massa, vel fringilla purus. Vivamus congue semper
                    sapien eu dapibus. Maecenas quis nunc mi. Sed vel ante viverra,
                    pulvinar justo in, egestas ante. Vivamus in felis nisl. Donec et
                    consequat justo. Phasellus eu nulla sed elit rhoncus rutrum. Ut ut
                    fermentum tellus.
                  </p>
        </div>
  </div>

</body>

  <footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
      <p>
        Start(IT) © 2019
        <br />
        <span>Izstrādātājs: Komanda - abc</span>
        <br />
        <span>Īpašnieks: Start(IT), Juris124</span>
        <br />
        <span>VEF Kultūras pils</span>
      </p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
  <script type="text/javascript" src="../javaScript/custom.js"></script>
</html>
